SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_SIGNING_SECRET=your-slack-signing-secret
GEMINI_API_KEY=your-gemini-api-key
DATABRICKS_HOST=ifood-prod-main.cloud.databricks.com
DATABRICKS_WAREHOUSE_ID=0831a845aa83b2e3
DATABRICKS_TOKEN=your-databricks-token
PORT=3000
